<div class="overflow_y_scroll flex_col grow">
    @for (file of files(); track file[0]) {
        <div
            class="hover_cursor_pointer transition_border_width user_select_none border_fg4 bg_h"
            [ngClass]="{
                thick_border_l: activeFile() === $index,
                rounded_tl: $first,
                rounded_bl: $last,
            }"
        >
            <div
                class="flex_row box padding justify_between align_items hover_highlight_border w-full"
                [ngClass]="{
                    bg: activeFile() === $index,
                    bg_h: activeFile() !== $index,
                    rounded_tl: $first,
                    rounded_bl: $last,
                }"
                (click)="onClickedFile(file[0])"
            >
                <div
                    class="align_items bg_h text_overflow_fade overflow_hidden grow flex"
                    [ngClass]="{
                        fg4: false,
                        bg: activeFile() === $index,
                    }"
                >
                    <span>
                        {{ (file[0] | parseName).name }}
                        @for (tag of (file[0] | parseName).tags; track tag) {
                            <span class="margin_l small_font color_bg3"
                                >#{{ tag }}</span
                            >
                        }
                    </span>
                </div>
                <!-- File Extension -->
                <div class="text-right align_items">
                    {{ (file[0] | parseName).ext }}
                </div>
            </div>
        </div>
        <div class="pseudo_border"></div>
    }
</div>
