<div class="right_sidebar_item">
  <div class="right_sidebar_item_header">
    <span class="right_sidebar_item_header_title">{{ tool().name }}</span>
    <span class="right_sidebar_item_header_settings bx bx-slider">
      <div class="right_sidebar_item_header_settings_tooltip">
        <div class="right_sidebar_item_header_settings_tooltip_row">
          <input [placeholder]="'foo'" [value]="tool().name" />
        </div>
        @for (property of inputSchemaProperties(); track property) {
          <div class="right_sidebar_item_header_settings_tooltip_row">
            <div
              class="right_sidebar_item_header_settings_tooltip_input_cap"
            ></div>
            <input
              [placeholder]="property.key"
              [value]="inputProperties()[property.key]"
            />
          </div>
        }

        @for (property of outputSchemaProperties(); track property) {
          <div class="right_sidebar_item_header_settings_tooltip_row">
            <div
              class="right_sidebar_item_header_settings_tooltip_output_label"
              draggable="true"
            >
              {{ property.key }}
            </div>
            <div
              class="right_sidebar_item_header_settings_tooltip_output_cap"
            ></div>
          </div>
        }
      </div>
    </span>
  </div>
  <div class="right_sidebar_item_content">
    <div class="color_dark4">{{ tool().description }}</div>
  </div>
</div>
