<div class="flex_col w_12vw">
    <input class="box padding rounded_tr bg_h grow" placeholder="Filename" />
</div>
<div class="flex_row w_12vw">
    <div
        class="flex_row rounded box padding pseudo_input hover_highlight_border bg_h"
    >
        <input class="flex grow" placeholder="Randomness" value="0.5" />
        <span class="icon iconoir-dice-six hover_cursor_pointer fg4"></span>
    </div>
    <div class="pseudo_element"></div>
    <div
        class="flex_row rounded box padding pseudo_input hover_highlight_border bg_h"
    >
        <input class="flex grow" placeholder="Variety" value="0.5" />
        <span class="icon iconoir-palette hover_cursor_pointer fg4"></span>
    </div>
</div>
