<div id="APP_CONTAINER">
  <div id="LEFTMOST_SIDEBAR">
    <div id="LEFTMOST_SIDEBAR_ACTIONS">
      @for ( system_action of system_actions; track system_action.command ) {
      <div
        class="padding border flex color_fg4 margin_b {{
            system_action.color
          }}"
        [ngClass]="{
            highlighted: $index === highlightedSystemActionIndex(),
            highlight_border: $index === highlightedSystemActionIndex(),
            color_fg: $index === highlightedSystemActionIndex(),
          }"
        (mouseenter)="highlightedSystemActionIndex.set($index)"
        (mouseleave)="highlightedSystemActionIndex.set(-1)"
        (click)="systemActionOnClick(system_action, controlBar, activeArchiveFiles[this.highlightedFile()])"
      >
        <span
          class="{{ system_action.icon }} {{
              $index === highlightedSystemActionIndex()
                ? system_action.color
                : ''
            }}"
        ></span>
      </div>
      }
    </div>
    <div
      id="LEFT_SIDEBAR_ARCHIVES"
      (wheel)="
      scrollThroughArchives(true, $event, this.allArchiveNames())
    "
      class="flex"
    >
      <span
        id="LEFT_SIDEBAR_ARCHIVES_ICON"
        class="bx bx-archive"
        (click)="addArchiveNameInput.focus()"
      ></span>
      <div id="LEFT_SIDEBAR_ARCHIVES_TOOLTIP">
        @for(archiveName of this.allArchiveNames(); track
        this.allArchiveNames().keys()) {
        <span
          class="border flex_row border_bottom_color_bg_s"
          [ngClass]="{
            bg_s: archiveName === activeArchiveName
          }"
        >
          <span
            class="padding user_select_none hover_cursor_pointer overflow_hidden text_overflow_fade bg grow"
            [ngClass]="{
            bg_s: archiveName === activeArchiveName
          }"
            (click)="setActiveArchive(archiveName)"
            >{{archiveName}}</span
          >
          <span class="padding flex_row">
            <span
              class="flex color_fg4 bx bx-download hover_color_fg"
              (click)="onClickDownloadArchive(archiveName)"
            ></span>
            <span
              class="flex color_fg4 bx bx-x hover_color_fg hover_cursor_pointer"
              (click)="onClickRemoveArchive(archiveName)"
            ></span>
          </span>
        </span>
        }
        <span id="LEFT_SIDEBAR_ARCHIVES_TOOLTIP_NAMEINPUT">
          <input
            #addArchiveNameInput
            class="padding"
            [placeholder]="'Enter new archive name'"
          />
          <span class="padding flex_row">
            <span
              class="flex color_fg4 bx bx-plus hover_color_fg hover_cursor_pointer"
              (click)="onClickAddArchive(addArchiveNameInput.value, addArchiveNameInput)"
            ></span>
            <span
              class="flex color_fg4 bx bx-upload hover_color_fg rounded_br"
              (click)="fileInput.click()"
            ></span>
          </span>
        </span>
      </div>
    </div>
  </div>
  <div
    id="LEFT_SIDEBAR_INPUT"
    [ngClass]="{
      highlight_border: controlBar.value,
    }"
  >
    <div id="LEFT_SIDEBAR_INPUT_TOOLTIP">
      <div class="left_sidebar_input_tooltip_item">
        <span
          >⭥
          <span class="left_sidebar_input_tooltip_item_text">(Down/Up)</span>
        </span>
        <span>Select File</span>
      </div>
      <div class="left_sidebar_input_tooltip_item">
        <span
          >⭾
          <span class="left_sidebar_input_tooltip_item_text">(Tab)</span></span
        >Select Action
      </div>
      <div class="left_sidebar_input_tooltip_item">
        <span
          >⮐
          <span class="left_sidebar_input_tooltip_item_text"
            >(Return)</span
          ></span
        >Perform action on file
      </div>
    </div>
    @if (highlightedSystemAction()) {
    <span
      id="LEFT_SIDEBAR_INPUT_PREFIX"
      class="{{
          highlightedSystemAction()?.color ?? ''
        }}"
      >{{ highlightedSystemAction()?.command + " " }}</span
    >
    }
    <div class="pseudo"></div>
    <input
      #controlBar
      id="LEFT_SIDEBAR_INPUT_INPUT"
      [placeholder]="
        highlightedFile() > -1
          ? (highlightedSystemAction()?.description(
              activeArchiveFiles[highlightedFile()]
            ) ??
            'Do what with ' + activeArchiveFiles[highlightedFile()] + '?')
          : (highlightedSystemAction()?.advice ??
            'Type here to control shortrest')
      "
      (keydown)="systemBarOnKeyDown($event)"
      (keyup)="systemBarOnKeyUp($event)"
    />
    @if ( controlBar.value !== "" || highlightedFile() !== -1 ||
    highlightedSystemActionIndex() !== -1 ) {
    <span
      id="LEFT_SIDEBAR_INPUT_CLEAR_BUTTON"
      class="bx bx-x"
      (click)="
          clearSystemBar();
        "
    ></span>
    }
  </div>
  <div id="LEFT_SIDEBAR">
    <div id="LEFT_SIDEBAR_FILELIST">
      @for ( file of activeArchiveFiles | filterFiles: controlBar.value; track
      file ) {
      <div
        class="left_sidebar_filelist_file {{file === controlBar.value || $index === highlightedFile() ? this.highlightedSystemAction()?.color : '' }}"
        [ngClass]="{
            highlight_border:
              (file === controlBar.value || $index === highlightedFile()),
          }"
        (click)="
            highlightedFile() !== $index
              ? (highlightedFile.set($index))
              : editFile(file);
              this.highlightedSystemActionIndex.set(openFileSystemActionIndex)
          "
        (mouseenter)="(file === controlBar.value || $index === highlightedFile()) ? this.highlightedSystemActionIndex.set(openFileSystemActionIndex) : ''"
        (mouseleave)="(file === controlBar.value || $index === highlightedFile()) ? this.highlightedSystemActionIndex.set(-1) : ''"
      >
        <div class="left_sidebar_filelist_file_name bg_h">
          <span>
            {{ (file | parseName).name }} @for (tag of (file | parseName).tags;
            track tag) {
            <span class="margin_l font_size_small color_border_color"
              >#{{ tag }}</span
            >
            }
          </span>
        </div>
        <!-- File Extension -->
        <div class="text-right align_items">{{ (file | parseName).ext }}</div>
      </div>
      }
    </div>
  </div>

  <div id="CENTER_AREA_HEADER">
    <div id="CENTER_AREA_HEADER_FILELIST">
      @for ( file_name of openedFileNames; track file_name ) {
      <div
        class="center_area_header_filelist_entry"
        (click)="editFile(file_name)"
      >
        <div
          class="center_area_header_filelist_entry_file"
          [ngClass]="{
              highlighted: file_name === activeFileName,
            }"
        >
          <span class="bx bx-file"></span>
          <span
            class="bg text_overflow_fade overflow_hidden grow max_w_0_highlighted_max_w_200px opacity_0_highlighted_opacity_1 margin_l"
            [ngClass]="{
                highlighted: file_name === activeFileName,
              }"
          >
            {{ file_name }}
          </span>
        </div>
        <div
          class="position_absolute from_bottom left_0 bg_h collapse_but_allow_revival flex_col"
        >
          <span
            class="flex bx bx-x border padding hover_highlight_border hover_cursor_pointer color_fg4"
            (click)="closeFile(file_name)"
          ></span>
        </div>
      </div>
      }
    </div>
  </div>

  <div id="CENTER_AREA">
    <div id="CENTER_AREA_CONTENT">
      <textarea
        #centerAreaContentTextarea
        id="CENTER_AREA_CONTENT_TEXTAREA"
        [(ngModel)]="this.activeFile"
        (ngModelChange)="saveFile(activeFileName)"
        (keydown)="textInputOnKeyDown($event)"
        (keyup)="textInputOnKeyUp($event)"
        (change)="this.fileChangeEmitter.emit()"
      ></textarea>
    </div>
  </div>

  <div id="RIGHT_SIDEBAR_HEADER">
    <div id="RIGHT_SIDEBAR_HEADER_TOOLBELT">
      @for(workflow of right_sidebar_workflows; track workflow; let
      workflowindex = $index) {
      <div
        class="right_sidebar_header_toolbelt_workflow"
        [ngClass]="{
          'active': active_workflow() === workflowindex && (right_sidebar_workflows[active_workflow()].nodes.length > 0),
        }"
        (click)="active_workflow.set($index)"
      >
        @for(context of workflow.nodes; track context) {
        <span class="right_sidebar_header_toolbelt_workflow_node"></span>
        } @if(workflow.nodes.length === 0) {
        <span class="w_24px"></span>
        } @if(workflow.nodes.length > 0) {
        <span
          class="border left_0 flex_col rounded_b bg_h position_absolute from_bottom collapse_but_allow_revival font_size_small z_index_2"
        >
          <span
            class="bx bx-cloud-download border margin_t hover_color_fg"
            (click)="onClickDownloadRightTool(workflowindex)"
          ></span>
          <span
            class="bx bx-x border margin_t hover_color_fg"
            (click)="onClickRemoveRightTool(workflowindex)"
          ></span>
        </span>
        }
      </div>
      }
    </div>
    <div
      class="right_sidebar_header_icon_button"
      (click)="rightToolsInput.click()"
    >
      <span class="bx bx-cloud-upload"></span>
    </div>
    <div
      class="right_sidebar_header_icon_button"
      (click)="rightToolsInput.click()"
    >
      <span class="bx bx-slider-alt"></span>
    </div>
  </div>

  <div id="RIGHT_SIDEBAR">
    <div id="RIGHT_SIDEBAR_CENTER">
      @for(node of right_sidebar_workflows[active_workflow()].nodes; track node)
      {
      <app-right-sidebar-item [node]="node"></app-right-sidebar-item>
      }
    </div>
  </div>

  <div id="RIGHT_SIDEBAR_FOOTER">
    <div
      class="flex_row grow hover_cursor_pointer overflow_hidden"
      (click)="buildPrompt()"
    >
      <span
        id="RIGHT_SIDEBAR_FOOTER_RUN_BUTTON"
        [ngClass]="{
          color_fg4: this.runningPrompts.size === 0,
          fire: this.runningPrompts.size,
          highlight_border: this.runningPrompts.size
        }"
      >
        <span class="overflow_hidden grow text_overflow_fade bg_s"
          >Run Instructions</span
        >
        <span class="bx bxs-flame margin_r"></span>
      </span>
    </div>
  </div>
</div>

<input
  #fileInput
  type="file"
  style="display: none"
  (change)="onFileInputChange($event)"
/>

<input
  #rightToolsInput
  type="file"
  style="display: none"
  (change)="onRightToolFileInputChange($event)"
/>
