<div id="APP_CONTAINER">
  <div id="LEFTMOST_SIDEBAR">
    <div class="flex_col">
      @for ( system_action of system_actions; track system_action.command ) {
      <div
        class="padding border flex color_fg4 margin_b {{
            system_action.color
          }}"
        [ngClass]="{
            highlighted: $index === highlightedSystemActionIndex(),
            highlight_border: $index === highlightedSystemActionIndex(),
            color_fg: $index === highlightedSystemActionIndex(),
          }"
        (mouseenter)="highlightedSystemActionIndex.set($index)"
        (mouseleave)="highlightedSystemActionIndex.set(-1)"
        (click)="systemActionOnClick(system_action, controlBar, activeArchiveFiles[this.highlightedFile()])"
      >
        <span
          class="icon {{ system_action.icon }} {{
              $index === highlightedSystemActionIndex()
                ? system_action.color
                : ''
            }}"
        ></span>
      </div>
      }
    </div>
    <div class="padding border flex color_fg4">
      <span class="icon iconoir-archive"></span>
    </div>
  </div>
  <div
    id="LEFT_SIDEBAR_INPUT"
    [ngClass]="{
      highlight_border: controlBar.value,
    }"
  >
    <div id="LEFT_SIDEBAR_INPUT_TOOLTIP">
      <div class="left_sidebar_input_tooltip_item">
        <span
          >⭥
          <span class="left_sidebar_input_tooltip_item_text">(Down/Up)</span>
        </span>
        <span>Select File</span>
      </div>
      <div class="left_sidebar_input_tooltip_item">
        <span
          >⭾
          <span class="left_sidebar_input_tooltip_item_text">(Tab)</span></span
        >Select Action
      </div>
      <div class="left_sidebar_input_tooltip_item">
        <span
          >⮐
          <span class="left_sidebar_input_tooltip_item_text"
            >(Return)</span
          ></span
        >Perform action on file
      </div>
    </div>
    @if (highlightedSystemAction()) {
    <span
      id="LEFT_SIDEBAR_INPUT_PREFIX"
      class="{{
          highlightedSystemAction()?.color ?? ''
        }}"
      >{{ highlightedSystemAction()?.command + " " }}</span
    >
    }
    <div class="pseudo"></div>
    <input
      #controlBar
      id="LEFT_SIDEBAR_INPUT_INPUT"
      [placeholder]="
        highlightedFile() > -1
          ? (highlightedSystemAction()?.description(
              activeArchiveFiles[highlightedFile()]
            ) ??
            'Do what with ' + activeArchiveFiles[highlightedFile()] + '?')
          : (highlightedSystemAction()?.advice ??
            'Type here to control shortrest')
      "
      (keydown)="systemBarOnKeyDown($event)"
      (keyup)="systemBarOnKeyUp($event)"
    />
    @if ( controlBar.value !== "" || highlightedFile() !== -1 ||
    highlightedSystemActionIndex() !== -1 ) {
    <span
      id="LEFT_SIDEBAR_INPUT_CLEAR_BUTTON"
      class="icon iconoir-xmark"
      (click)="
          clearSystemBar();
        "
    ></span>
    }
  </div>
  <div id="LEFT_SIDEBAR_FILELIST">
    @for ( file of activeArchiveFiles | filterFiles: controlBar.value; track
    file ) {
    <div
      class="left_sidebar_filelist_file {{file === controlBar.value || $index === highlightedFile() ? this.highlightedSystemAction()?.color : '' }}"
      [ngClass]="{
          highlight_border:
            (file === controlBar.value || $index === highlightedFile()),
        }"
      (click)="
          highlightedFile() !== $index
            ? (highlightedFile.set($index))
            : editFile(file);
            this.highlightedSystemActionIndex.set(openFileSystemActionIndex)
        "
      (mouseenter)="(file === controlBar.value || $index === highlightedFile()) ? this.highlightedSystemActionIndex.set(openFileSystemActionIndex) : ''"
      (mouseleave)="(file === controlBar.value || $index === highlightedFile()) ? this.highlightedSystemActionIndex.set(-1) : ''"
    >
      <div class="left_sidebar_filelist_file_name bg_h">
        <span>
          {{ (file | parseName).name }} @for (tag of (file | parseName).tags;
          track tag) {
          <span class="margin_l font_size_small color_border_color"
            >#{{ tag }}</span
          >
          }
        </span>
      </div>
      <!-- File Extension -->
      <div class="text-right align_items">{{ (file | parseName).ext }}</div>
    </div>
    }
  </div>
  <div
    id="LEFT_SIDEBAR_ARCHIVES"
    (wheel)="
      scrollThroughArchives(true, $event, this.allArchiveNames())
    "
  >
    <div id="LEFT_SIDEBAR_ARCHIVES_TOOLTIP">
      <span id="LEFT_SIDEBAR_ARCHIVES_TOOLTIP_NAMEINPUT">
        <input
          #addArchiveNameInput
          class="padding rounded_tl"
          [placeholder]="'Enter new archive name'"
        />
        <span
          class="padding flex icon color_fg4 iconoir-plus hover_color_fg rounded_tr hover_cursor_pointer"
          (click)="onClickAddArchive(addArchiveNameInput.value, addArchiveNameInput)"
        ></span>
      </span>
      @for(archiveName of this.allArchiveNames(); track
      this.allArchiveNames().keys()) {
      <span
        class="border flex_row border_bottom_color_bg_s"
        [ngClass]="{
          bg_s: archiveName === activeArchiveName
        }"
      >
        <span
          class="padding user_select_none hover_cursor_pointer overflow_hidden text_overflow_fade bg grow"
          [ngClass]="{
          bg_s: archiveName === activeArchiveName
        }"
          (click)="setActiveArchive(archiveName)"
          >{{archiveName}}</span
        >
        <span
          class="flex icon color_fg4 iconoir-xmark hover_color_fg padding hover_cursor_pointer"
          (click)="onClickRemoveArchive(archiveName)"
        ></span>
      </span>
      }
    </div>
    <span id="LEFT_SIDEBAR_ARCHIVES_ARCHIVENAME">{{ activeArchiveName }}</span>
    <div id="LEFT_SIDEBAR_ARCHIVES_ACTIONS">
      <span
        class="flex icon color_fg4 iconoir-upload-square hover_color_fg"
        (click)="fileInput.click()"
      ></span>
      <span
        class="flex icon color_fg4 iconoir-download-square-solid hover_color_fg"
        (click)="onClickDownloadArchive(activeArchiveName)"
      ></span>
    </div>
  </div>

  <div id="CENTER_AREA_HEADER">
    <div id="CENTER_AREA_HEADER_FILELIST">
      @for ( file_name of openedFileNames; track file_name ) {
      <div
        class="position_relative flex_row hover_cursor_pointer color_fg4 revive_children_on_hover margin_r"
        (click)="editFile(file_name)"
      >
        <div
          class="flex_row grow border box_sizing_border_box padding w_34px_highlighted_w_150px rounded_t"
          [ngClass]="{
              highlighted: file_name === activeFileName,
              highlight_border: file_name === activeFileName,
              color_fg: file_name === activeFileName,
            }"
        >
          <span class="icon iconoir-page"></span>
          <span
            class="bg_h text_overflow_fade overflow_hidden grow max_w_0_highlighted_max_w_200px opacity_0_highlighted_opacity_1 margin_l"
            [ngClass]="{
                highlighted: file_name === activeFileName,
              }"
          >
            {{ file_name }}
          </span>
        </div>
        <div
          class="position_absolute from_bottom left_0 bg_h collapse_but_allow_revival flex_col"
        >
          @for (tool of center_tools; track tool) {
          <span
            class="flex icon {{
                  tool.icon
                }} border padding hover_highlight_border hover_cursor_pointer"
            [ngClass]="{
                  color_fg4: !tool.active,
                  bg_s: tool.active,
                }"
            (click)="tool.active = !tool.active"
          ></span>
          }
          <span
            class="flex icon iconoir-xmark border padding hover_highlight_border hover_cursor_pointer color_fg4"
            (click)="closeFile(file_name)"
          ></span>
        </div>
      </div>
      }
    </div>
    <div id="CENTER_AREA_HEADER_EDITORPREFERENCES">
      <div class="margin_r position_relative rounded revive_children_on_hover">
        <span
          class="right_0 padding rounded_b border bg_h position_absolute from_bottom collapse_but_allow_revival font_size_small z_index_2"
          style="width: 10vw"
          >The position index of the text cursor</span
        >
        <span
          class="flex_row rounded border padding pseudo_input hover_highlight_border"
        >
          <input
            class="flex"
            placeholder="Read Tokens"
            [(ngModel)]="textareaSelectionStart"
            style="width: 40px"
          />
          <span
            class="icon iconoir-text-arrows-up-down hover_cursor_pointer color_fg4"
          ></span>
        </span>
      </div>
      <div class="margin_r position_relative rounded revive_children_on_hover">
        <span
          class="right_0 padding rounded_b border bg_h position_absolute from_bottom collapse_but_allow_revival font_size_small z_index_2"
          style="width: 10vw"
          >The end index of the selected area</span
        >
        <span
          class="flex_row rounded border padding pseudo_input hover_highlight_border"
        >
          <input
            class="flex"
            placeholder="Read Tokens"
            [(ngModel)]="textareaSelectionEnd"
            style="width: 40px"
          />
          <span
            class="icon iconoir-text-box hover_cursor_pointer color_fg4"
          ></span>
        </span>
      </div>
      <div class="margin_r position_relative rounded revive_children_on_hover">
        <span
          class="right_0 padding rounded_b border bg_h position_absolute from_bottom collapse_but_allow_revival font_size_small z_index_2"
          style="width: 10vw"
          >How many text tokens into the past the LLM gets to read before
          starting to produce a continuation</span
        >
        <span
          class="flex_row rounded border padding pseudo_input hover_highlight_border"
        >
          <input
            class="flex"
            placeholder="Read Tokens"
            [(ngModel)]="right_tools[active_right_tool_index].readTokens"
            style="width: 40px"
          />
          <span class="icon iconoir-eye hover_cursor_pointer color_fg4"></span>
        </span>
      </div>
      <div class="margin_r revive_children_on_hover rounded position_relative">
        <span
          class="right_0 padding rounded_b border bg_h position_absolute from_bottom collapse_but_allow_revival font_size_small z_index_2"
          style="width: 10vw"
          >The amount of new text tokens the LLM may produce before being
          terminated</span
        >
        <span
          class="flex_row rounded border padding pseudo_input hover_highlight_border"
        >
          <input
            class="flex"
            placeholder="Write Tokens"
            [(ngModel)]="right_tools[active_right_tool_index].writeTokens"
            style="width: 40px"
          />
          <span
            class="icon iconoir-brain hover_cursor_pointer color_fg4"
          ></span>
        </span>
      </div>

      <span class="flex_col revive_children_on_hover position_relative">
        <span
          class="border padding icon color_fg4 iconoir-settings hover_cursor_pointer hover_highlight_border"
        ></span>
        <span
          class="right_0 rounded_b bg_s position_absolute from_bottom collapse_but_allow_revival font_size_small z_index_2"
          style="width: 20vw"
        >
          <div class="flex_row">
            <div
              class="flex_row rounded_bl border padding pseudo_input hover_highlight_border bg_h margin_r"
              title="Seed: number that all random number generation is based on"
            >
              <input
                class="flex"
                placeholder="Randomness Seed"
                [(ngModel)]="right_tools[active_right_tool_index].seed"
              />
              <span
                class="icon iconoir-soil-alt hover_cursor_pointer color_fg4"
              ></span>
            </div>
            <div>
              <div
                class="flex_row border padding pseudo_input hover_highlight_border bg_h margin_b"
                title="Randomness (temperature): higher settings make more probable next token options more likely"
              >
                <input
                  class="flex"
                  placeholder="Randomness"
                  [(ngModel)]="right_tools[active_right_tool_index].temperature"
                />
                <span
                  class="icon iconoir-dice-six hover_cursor_pointer color_fg4"
                ></span>
              </div>
              <div
                class="flex_row rounded_br border padding pseudo_input hover_highlight_border bg_h"
                title="Variety (top_k): the portion of next token options to consider at all"
              >
                <input
                  class="flex"
                  placeholder="Variety"
                  [(ngModel)]="right_tools[active_right_tool_index].top_k"
                />
                <span
                  class="icon iconoir-palette hover_cursor_pointer color_fg4"
                ></span>
              </div>
            </div>
          </div>
        </span>
      </span>
    </div>
  </div>

  <div id="CENTER_AREA">
    <div id="CENTER_AREA_CONTENT">
      <textarea
        #contentTextarea
        class="bg border padding_big rounded_bl vertical_align_bottom hover_highlight_border border_on_focus mono grow"
        [(ngModel)]="this.activeFile"
        (ngModelChange)="saveFile(activeFileName)"
        (keydown)="textInputOnKeyDown($event)"
        (keyup)="textInputOnKeyUp($event)"
        (change)="this.fileChangeEmitter.emit()"
      ></textarea>
    </div>
  </div>

  <div id="RIGHT_SIDEBAR_HEADER">
    <div class="flex flex_row grow">
      @for(tool of right_tools; track tool; let toolindex = $index) {
      <div
        class="flex_col justify_end h_100 max_height_34px text_overflow_fade rounded_t margin_r color_fg4 hover_cursor_pointer user_select_none position_relative revive_children_on_hover hover_bg"
        (click)="active_right_tool_index = $index"
      >
        @for(context of tool.context_prompts; track context) {
        <span
          class="h_5px w_24px rounded_b rounded_tr margin_t bg"
          [ngClass]="{
            'bg_s': active_right_tool_index === toolindex && (right_tools[active_right_tool_index].context_prompts.length > 0),
            'rounded_tl': $index > 0,
          }"
        >
        </span>
        } @if(tool.context_prompts.length === 0) {
        <span class="w_24px"></span>
        } @if(tool.context_prompts.length > 0) {
        <span
          class="border left_0 flex_col rounded_b bg_h position_absolute from_bottom collapse_but_allow_revival font_size_small z_index_2"
        >
          <span
            class="icon iconoir-cloud-download border margin_t hover_color_fg"
            (click)="onClickDownloadRightTool(toolindex)"
          ></span>
          <span
            class="icon iconoir-xmark border margin_t hover_color_fg"
            (click)="onClickRemoveRightTool(toolindex)"
          ></span>
        </span>
        }
      </div>
      }
    </div>
    <div
      class="flex border padding hover_highlight_border hover_cursor_pointer color_fg4 hover_color_fg"
      (click)="rightToolsInput.click()"
    >
      <span class="icon iconoir-cloud-upload"></span>
    </div>
  </div>

  <div id="RIGHT_SIDEBAR">
    <div id="RIGHT_SIDEBAR_CENTER">
      <div class="flex_col overflow_scroll height_1">
        @for (prompt of right_tools[active_right_tool_index].context_prompts;
        track prompt) {
        <app-prompt
          [prompt]="prompt"
          [file]="activeFile"
          [llm]="llm"
          [index]="$index"
          [generateDynamicContext]="generateDynamicContextEmitter"
          [fileChange]="fileChangeEmitter"
          (remove)="onRemoveContextClick($index)"
          (save)="saveRightTools()"
        ></app-prompt>
        }
        <div
          class="border_b border rounded_br rounded_bl rounded_tr padding flex_row space_between hover_highlight_border bg hover_cursor_pointer color_fg4 hover_color_fg"
          [ngClass]="{
            rounded_tl: right_tools[active_right_tool_index].context_prompts.length > 0,
          }"
          (click)="onAddContextClick()"
        >
          <span
            class="overflow_hidden grow text_overflow_fade bg user_select_none"
            >Provide context</span
          >
          <span class="icon iconoir-plus"></span>
        </div>
      </div>
    </div>
  </div>

  <div id="RIGHT_SIDEBAR_FOOTER">
    <div class="flex_row grow hover_cursor_pointer" (click)="buildPrompt()">
      <span
        class="border padding grow hover_highlight_border bg_s hover_color_fg overflow_hidden"
        [ngClass]="{
          color_fg4: this.runningPrompts.size === 0,
          fire: this.runningPrompts.size,
          highlight_border: this.runningPrompts.size
        }"
      >
        <span class="overflow_hidden grow text_overflow_fade bg_s"
          >Generate Text</span
        >
        <span class="icon iconoir-fire-flame margin_r"></span>
      </span>
    </div>
    <span
      class="flex_col rounded_br bg_s position_relative revive_children_on_hover"
    >
      <span
        class="border rounded_br icon padding color_fg4 hover_highlight_border iconoir-reload-window hover_cursor_pointer"
        (click)="generateDynamicContextEmitter.emit()"
      ></span>
      <span
        class="right_0 padding border border bg_s position_absolute from_top collapse_but_allow_revival font_size_small z_index_2"
        style="width: 10vw"
        >Trigger generation requests for all dynamic contexts</span
      >
    </span>
  </div>
</div>

<input
  #fileInput
  type="file"
  style="display: none"
  (change)="onFileInputChange($event)"
/>

<input
  #rightToolsInput
  type="file"
  style="display: none"
  (change)="onRightToolFileInputChange($event)"
/>
