<div class="flex-column h-100 justify-end">
    <div class="flex-row grow">
        <div class="rounded-box padding margin flex-column justify-end">
            <div class="width-20vw rounded-box padding hover_highlight_border hover_cursor_pointer">bar</div>
            <div class="pseudo_element"></div>
            <div class="width-20vw rounded-box padding hover_highlight_border hover_cursor_pointer">bar</div>
        </div>
        <div class="rounded-box padding grow margin">spam</div>
    </div>
    <div class="flex-row">
        <div class="rounded-box padding grow margin pseudo_input hover_highlight_border">
            <input class="flex grow">
        </div>
        <div class="rounded-box padding margin flex-row centered-content">
            <span class="icon iconoir-message-alert margin-right hover_cursor_pointer"></span>
            <span class="icon iconoir-settings hover_cursor_pointer"></span>
        </div>
    </div>
</div>
