<div class="flex_row h_100 grow overflow_hidden justify_strech">
    <!-- LEFT SIDEBAR -->
    <div class="flex_col justify_between overflow_hidden w_15vw margin_r">
        <div class="flex_col justify_between grow">
            
            <div class="grow"></div>
            <!--<app-file-list [files]="activeFolder.files"></app-file-list>-->
            <div>
                @for (sys_action of system_actions; track sys_action.command) {
                    <div
                        class="rounded box flex_row padding hover_highlight_border hover_cursor_pointer fg4 hover_fg justify_between overflow_hidden margin_t {{
                            sys_action.type
                        }}"
                        (click)="sys_action.action(controlBar)"
                    >
                        <span
                            class="bg_h text_overflow_fade overflow_hidden min_height_max_content grow"
                        >
                            {{ sys_action.name }}
                        </span>
                        <span
                            class="icon margin_r {{ sys_action.icon }}"
                        ></span>
                    </div>
                }
            </div>
        </div>
    </div>

    <!-- CENTER AREA -->
    <div class="flex_col grow">
        <div class="grow margin_b flex-row">
            <textarea *ngIf="files[activeFile]"
                class="box hover_highlight_border rounded_tl padding_big bg vertical_align_bottom"
                [(ngModel)]="files[activeFile].content"
                (change)="saveFilesLocalStorage(files)"
            ></textarea>
        </div>

        <textarea
            #controlBar
            class="box padding pseudo_input hover_highlight_border bg"
            placeholder="Type here to control shortrest"
            rows="1"
        ></textarea>
    </div>

    <!-- RIGHT SIDEBAR -->
    <app-author-assistant
        #authorAssistant
        class="margin_l rounded_r flex_col justify_between min_width_max_content overflow_hidden"
        [llm]="llm"
        [file]="files[activeFile]"
        (token)="onToken($event)"
    ></app-author-assistant>
</div>
