<div
    class="hover_cursor_pointer rounded user_select_none bg margin_b border_fg4"
    [ngClass]="{
        border_l: file().active,
    }"
    draggable="true"
>
    <div
        class="flex_row box padding justify_between rounded hover_highlight_border"
        (click)="file().active = !file().active; $event.stopPropagation()"
    >
        <div
            class="align_end bg text_overflow_fade overflow_hidden grow"
            [ngClass]="{
                fg4: !file().active,
            }"
        >
            {{ file().filename }}
            @for (tag of file().tags; track tag) {
                <span class="margin_l small_font color_bg3">#{{ tag }}</span>
            }
        </div>
        <span
            class="icon hover_fg"
            [ngClass]="{
                'iconoir-multiple-pages':
                    file().children.length > 0 && file().content.length > 0,
                'iconoir-multiple-pages-empty':
                    file().children.length > 0 && file().content.length === 0,
                'iconoir-empty-page':
                    file().children.length == 0 && file().content.length == 0,
                'iconoir-page':
                    file().children.length == 0 && file().content.length > 0,
                fg4: !file().reading,
                fg: file().reading,
            }"
            (click)="
                $event.stopPropagation();
                file().reading = !file().reading;
                log(file().reading)
            "
        ></span>
    </div>
    @if (file().children.length > 0) {
        <div class="pseudo_border"></div>
    }
    <div class="smallpadding_left">
        @for (
            child of file().active ? file().children : [];
            track child.filename
        ) {
            <app-file-list-entry
                [file]="child"
                [isChild]="true"
            ></app-file-list-entry>
        }
    </div>
</div>
