<div
    class="thicker_border_l hover_highlight_border read hover_cursor_pointer user_select_none"
    [ngClass]="{
        box: !isChild(),
        box_tbl: isChild(),
        highlight_border_left: file().active,
    }"
    (click)="file().active = !file().active; $event.stopPropagation()"
    (dblclick)="log('foo')"
    draggable="true"
>
    <div
        class="flex_row padding justify_between"
        [ngClass]="{
            bg: !file().active,
            bg_s: file().active,
        }"
    >
        <div
            class="align_end text_overflow_fade overflow_hidden grow"
            [ngClass]="{
                fg4: !file().active,
                bg_s: file().active,
                bg: !file().active,
            }"
        >
            {{ file().filename }}
            @for (tag of file().tags; track tag) {
                <span class="margin_l small_font color_bg3">#{{ tag }}</span>
            }
        </div>
        <span
            class="icon margin_r"
            [ngClass]="{
                'iconoir-multiple-pages':
                    file().children.length > 0 && file().content.length > 0,
                'iconoir-multiple-pages-empty':
                    file().children.length > 0 && file().content.length === 0,
                'iconoir-empty-page':
                    file().children.length == 0 && file().content.length == 0,
                'iconoir-page':
                    file().children.length == 0 && file().content.length > 0,
                fg4: !file().reading,
                fg: file().reading,
            }"
            (click)="
                $event.stopPropagation();
                file().reading = !file().reading;
                log(file().reading)
            "
        ></span>
    </div>
    <div class="smallpadding_left">
        @for (
            child of file().active ? file().children : [];
            track child.filename
        ) {
            <app-file-list-entry
                [file]="child"
                [isChild]="true"
            ></app-file-list-entry>
            <div class="pseudo_element"></div>
        }
    </div>
</div>
