@font-face {
  font-family: "geist";
  src: url(assets/fonts/Geist.ttf) format("truetype");
}

@font-face {
  font-family: "geist-mono";
  src: url(assets/fonts/GeistMono.ttf) format("truetype");
}

@font-face {
  font-family: "bitter";
  src: url(assets/fonts/Bitter.ttf) format("truetype");
}

// Dark Color Scheme: GruvBox Dark
$bg_h: #1d2021;
$bg: #282828;
$bg_s: #32302f;

$bg1: #3c3836;
$bg2: #504945;
$bg3: #665c54;
$bg4: #7c6f64;

$fg: #fbf1c7;

$fg1: #ebdbb2;
$fg2: #d5c4a1;
$fg3: #bdae93;
$fg4: #a89984;

// Green highlights CREATE actions (create new file, create copy etc)
$green: #b8bb26;
$green-dim: #98971a;

// Blue highlights READ actions (open file, read text)
$blue: #83a598;
$blue-dim: #458588;

// Yellow highlights UPDATE actions (format text, edit file)
$yellow: #fabd2f;
$yellow-dim: #d79921;

// Red highlights DELETE actions (delete file, remove text)
$red: #fb4934;
$red-dim: #cc2412;

$purple: #d3869b;
$purple-dim: #b16286;

$aqua: #8ec07c;
$aqua-dim: #689d6a;

$orange: #fe8019;
$orange-dim: #d65d0e;

$gray: #928374;
$gray-dim: #a89984;

$shadow:
  rgba(0, 0, 0, 0.12) 0px 1px 3px,
  rgba(0, 0, 0, 0.24) 0px 1px 2px;

$size-margin: 4px;
$size-border-radius: 8px;

// <Angular Boilerplate>
html {
  height: 100%;
}

.shadow {
  box-shadow: $shadow;
}

body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}
// </Angular Boilerplate>

#MAIN_GRID {
  box-sizing: border-box;
  background-color: $bg;
  display: grid;
  grid-gap: $size-margin;
  padding: $size-margin;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: 32px repeat(9, 1fr);
  height: 100%;
}

#LEFTMOST_SIDEBAR {
  background-color: $bg_h;
  border-top-left-radius: $size-border-radius;
  border-bottom-left-radius: $size-border-radius;
}

#LEFT_SIDEBAR {
  background-color: $bg_h;
  border-top-right-radius: $size-border-radius;
  border-bottom-right-radius: $size-border-radius;
}

#RIGHT_SIDEBAR {
  background-color: $bg1;
  border-radius: $size-border-radius;
}
