// Color Scheme: GruvBox Dark
$bg_h: #1d2021;
$bg: #282828;
$bg_s: #32302f;

$bg1: #3c3836;
$bg2: #504945;
$bg3: #665c54;
$bg4: #7c6f64;

$fg: #fbf1c7;

$fg1: #ebdbb2;
$fg2: #d5c4a1;
$fg3: #bdae93;
$fg4: #a89984;

// Green highlights CREATE actions (create new file, create copy etc)
$green: #b8bb26;
$green-dim: #98971a;

// Blue highlights READ actions (open file, read text)
$blue: #83a598;
$blue-dim: #458588;

// Yellow highlights UPDATE actions (format text, edit file)
$yellow: #fabd2f;
$yellow-dim: #d79921;

// Red highlights DELETE actions (delete file, remove text)
$red: #fb4934;
$red-dim: #cc2412;

$purple: #d3869b;
$purple-dim: #b16286;

$aqua: #8ec07c;
$aqua-dim: #689d6a;

$orange: #fe8019;
$orange-dim: #d65d0e;

$gray: #928374;
$gray-dim: #a89984;

$half-sidebar-width: 9vw;
$sidebar-width: 18vw;
$expanded-sidebar-width: 42vw;


// Using local font for somewhat uniform look between browsers and operating systems
@font-face {
    font-family: "geist";
    src: url(assets/fonts/Geist.ttf) format("truetype");
}

@font-face {
    font-family: "geist-mono";
    src: url(assets/fonts/GeistMono.ttf) format("truetype");
}

@font-face {
    font-family: "bitter";
    src: url(assets/fonts/Bitter.ttf) format("truetype");
}

// Style Variables

// Style -> Spacing
$border-radius: 7px;
$padding: 5px;
$smallpadding: 3px;
$bigpadding: 6px;
$margin: 3px;
$smallmargin: 1px;
$bigmarging: 7px;
$border-width: 1px;
$thicker-border-width: 2px;

// Style -> Colors
$border-color: $bg3;
$border-color-highlighted: $bg3;
$background-color: $bg_h;

// Style -> Fonts
$sans: geist, sans;
$mono: geist-mono, mono;
$serif: bitter, serif;

html {
    height: 100%;
}

body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: $smallpadding;
}

:root {
    height: 100%;
    background-color: $background-color;
    color: $fg;
    font-family: $sans;
}

.mono {
    font-family: $mono;
}

.yellow {
    color: $yellow;
}

.blue {
    color: $blue;
}

.green {
    color: $green;
}

.red {
    color: $red;
}

.purple {
    color: $purple;
}

.fire {
    color: $orange;
}

.align_text_bottom_left {
    text-align: left;
    vertical-align: bottom;
}

.vertical_align_bottom {
    vertical-align: bottom;
}

.user_select_none {
    user-select: none;
}

.box {
    border: $border-width solid transparent;
}

.pseudo_input:has(> textarea:focus) {
    border-color: $border-color-highlighted;
}

.hover_highlight_border {
    &:hover {
        border-color: $border-color-highlighted;
    }
}

.highlight_border {
    border-color: $border-color-highlighted;
    &.yellow {
        border-color: $yellow;
    }

    &.blue {
        border-color: $blue;
    }

    &.green {
        border-color: $green;
    }

    &.red {
        border-color: $red;
    }

    &.purple {
        border-color: $purple;
    }

    &.fire {
        border-color: $orange;
        animation: shadowPulse 3s infinite ease-in-out;
    }
}

.highlight_border_left {
    border-left-color: $border-color-highlighted;
}

.box_tbl {
    border: $border-width solid transparent;
    border-right: none;
}

.border_t {
    border-top: $border-width solid transparent;
}

.border_r {
    border-right: $border-width solid transparent;
}

.border_b {
    border-bottom: $border-width solid transparent;
}

.border_l {
    border-left: $border-width solid transparent;
}

.thick_border_l {
    border-left: $thicker-border-width solid transparent;
}

.border_bg {
    border-color: $bg;
}

.border_bg_s {
    border-color: $bg_s;
}

.border_bg_h {
    border-color: $bg_h;
}

.border_fg4 {
    border-color: $fg4;
}

.small_font {
    font-size: small;
}

.text_upright {
    writing-mode: vertical-rl;
    display: flex;
    align-items: center;
}

.box_tbl {
    border: $border-width solid $border-color;
    border-right: none;
}

.box_trl {
    border: $border-width solid $border-color;
    border-bottom: none;
}

.max_height {
    max-height: 30vh;
}

.min_height {
    max-height: 10vh;
}

.rounded {
    border-radius: $border-radius;
}

.rounded_tl {
    border-top-left-radius: $border-radius;
}

.rounded_tr {
    border-top-right-radius: $border-radius;
}

.rounded_bl {
    border-bottom-left-radius: $border-radius;
}

.rounded_br {
    border-bottom-right-radius: $border-radius;
}

.rounded_t {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
}

.rounded_r {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

.rounded_b {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

.rounded_l {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

.padding {
    padding: $padding;
}

.padding_small {
    padding: $smallpadding;
}

.padding_flat {
    padding: $smallpadding $padding $smallpadding $padding;
}

.padding_big {
    padding: $bigpadding;
}

.padding_small_left {
    padding-left: $smallpadding;
}

.margin {
    margin: $margin;
}

.margin_small {
    margin: $smallmargin;
}

.margin_b {
    margin-bottom: $margin;
}

.margin_t {
    margin-top: $margin;
}

.margin_r {
    margin-right: $margin;
}

.margin_l {
    margin-left: $margin;
}

.margin_b {
    margin-bottom: $margin;
}

.pseudo_element {
    padding-bottom: $smallpadding;
    padding-right: $smallpadding;
}

.pseudo_border {
    padding-bottom: $border-width;
    padding-right: $border-width;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

.flex_col {
    display: flex;
    flex-direction: column;
}

.align_end {
    align-items: end;
}

.align_stretch {
    align-items: stretch;
}

.justify_end {
    justify-content: end;
}

.justify_center {
    justify-content: center;
}

.justify_between {
    justify-content: space-between;
}

.justify_strech {
    justify-content: stretch;
}

.centered_content {
    align-items: center;
    justify-content: center;
}

.grow {
    display: flex;
    flex-grow: 1;
}

.min_width_max_content {
    min-width: max-content;
}

.min_height_max_content {
    min-height: max-content;
}

.shrink {
    display: flex;
    flex-shrink: 1;
}

.h_100 {
    height: 100%;
}

.h_auto {
    height: auto;
}

.h_max_content {
    height: max-content;
}

.w_100 {
    width: 100%;
}

.sidebar_width {
    box-sizing: border-box;
    width: $sidebar-width;
}

.bg_h {
    background-color: $bg_h;
    &.text_overflow_fade {
        &:before {
            background: linear-gradient(to right, transparent 90%, $bg_h);
        }
    }
}

.bg {
    background-color: $bg;
    &.text_overflow_fade {
        &:before {
            background: linear-gradient(to right, transparent 90%, $bg);
        }
    }
}

.bg_s {
    background-color: $bg_s;
    &.text_overflow_fade {
        &:before {
            background: linear-gradient(to right, transparent 90%, $bg_s);
        }
    }
}

.bg_b {
    background-color: $border-color;
    &.text_overflow_fade {
        &:before {
            background: linear-gradient(
                to right,
                transparent 90%,
                $border-color
            );
        }
    }
}

.fg {
    color: $fg !important;
}

.fg1 {
    color: $fg1;
}

.fg2 {
    color: $fg2;
}

.fg3 {
    color: $fg3;
}

.fg4 {
    color: $fg4;
}

.small_font {
    font-size: small;
}

.color_bg3 {
    color: $bg3;
}

.text_overflow_fade {
    position: relative;
    white-space: nowrap;

    &:before {
        pointer-events: none;
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        &.bg {
            background: linear-gradient(to right, transparent 90%, $bg);
        }
        &.bg_s {
            background: linear-gradient(to right, transparent 90%, $bg_s);
        }
        &.bg_h {
            background: linear-gradient(to right, transparent 90%, $bg_h);
        }
    }
}

.hover_fg:hover {
    color: $fg;
}

.icon {
    font-size: 20px;
}

.mini {
    font-size: 10px;
}

.nano {
    font-size: 8px;
}

.hover_bg_s {
    &:hover {
        background-color: $bg_s;
    }
}

.hover_cursor_pointer {
    cursor: pointer;
}

.overflow_scroll {
    overflow: scroll;
}

.overflow_y_scroll {
    overflow-y: scroll;
}

.overflow_hidden {
    overflow: hidden;
}

.grid {
    display: grid;
}

// Base HTML Element Styles
input {
    /* Remove background color and borders */
    background-color: transparent;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;

    /* Remove padding and margins */
    padding: 0;
    margin: 0;

    /* Set font to inherit from parent element */
    font-size: inherit;
    font-family: inherit;

    /* Reset text color, appearance and cursor */
    color: inherit;
    appearance: none;
    -webkit-appearance: none;

    &:focus {
        outline: none;
    }
}

textarea {
    /* Remove background color and borders */
    background-color: transparent;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
    resize: none;

    /* Remove padding and margins */
    padding: 0;
    margin: 0;

    /* Set font to inherit from parent element */
    font-size: inherit;
    font-family: inherit;

    /* Reset text color, appearance and cursor */
    color: inherit;
    appearance: none;
    -webkit-appearance: none;

    &:focus {
        outline: none;
    }
}

a {
    color: $blue-dim;
    :visited {
        color: $purple-dim;
    }
}

.ProseMirror {
    height: auto;
    width: auto;
    :first-child {
        margin-top: 0;
    }
}

.ProseMirror-focused {
    outline: none;
}

.grid-container {
    display: grid;
    .grid-item {
    }
}

.transition_border_width {
    transition: border-width 50ms;
}

@keyframes shadowPulse {
    0%,
    100% {
        box-shadow: 0px -3px 9px 2px rgba($aqua, 0.4); // Taller and slightly enlarged shadow to look like a flame
    }
    50% {
        box-shadow: 0px -1px 6px 1px rgba($aqua, 0.4); // Original size of shadow, but taller for the flame effect
    }
}
